@using TicariOtomasyon.Models.Class
@model List<Employee>
@{
    ViewBag.Title = "DepDet";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Departman Detay Sayfası </h2>

<hr />


<h3>@ViewBag.dp</h3> @*departman adının Viewbagle taşınması*@


<table class="table table-bordered" style="margin-top:20px;  margin-right:20px;">
    <tr>
        <th>Adı</th>
        <th>Soyadı</th>
        <th>Görsel</th>
        <th>Satışlar</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.EmployeeName</td>
            <td>@item.EmployeeSurname</td>
            <td>@item.EmployeeImage </td>
            <td><a href="/Department/EmployeeSales/@item.EmployeeID" class="btn btn-danger"> Satışlar  </a></td>


        </tr>
    }

</table>




