@model TicariOtomasyon.Models.Class.Department

@{
    ViewBag.Title = "FindDep";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Departman Düzenle </h2>

<hr />
<br />

@using (Html.BeginForm("EditDep", "Department", FormMethod.Post))
{
    <div class="form-group">
        <label>Departman Adı </label>
        @Html.TextBoxFor(x => x.DepartmentName, new { @class = "form-control" })
        @Html.HiddenFor(x => x.DepartmentID)
    </div>
    <br />
    <button class="btn btn-outline-success" style="margin-top:15px">Departman Düzenle</button>

}
