@using TicariOtomasyon.Models.Class
@model List<Department>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Departman Sayfası</h2>
<br />


<table class="table table-bordered" style="margin-top:20px;  margin-right:20px;">
    <tr>
        <th>Departman Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.DepartmentName</td>
            <td><a href="/Department/DeleteDep/@item.DepartmentID" class="btn btn-danger"> Sil  </a></td>
            <td><a href="/Department/FindDep/@item.DepartmentID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Department/DepDet/@item.DepartmentID" class="btn btn-default" style="background-color:coral; color : white" ,>Detaylar</a></td>
        </tr>
    }

</table>

<a href="/Department/AddDep/" class="btn btn-outline-primary">Yeni Departman Ekle</a>

