@using TicariOtomasyon.Models.Class
@model List<Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Personel Sayfası</h2>

<br />


<table class="table table-bordered" style="margin-top:20px;  margin-right:20px;">
    <tr>
        <th>Personel Adı Soyadı</th>
        <th>Departman</th>
        <th>Resim</th>
        <th>Güncelle</th>
        <th>Satışlar</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.EmployeeName @item.EmployeeSurname</td>
    <td>@item.EmployeeImage</td>
    <td>@item.Department.DepartmentName</td>

    <td><a href="/Employee/FindEmp/@item.EmployeeID" class="btn btn-warning">Güncelle</a></td>
    <td><a href="/Department/EmployeeSales/@item.EmployeeID" class="btn btn-default" style="background-color:coral; color : white" ,>Satışlar</a></td>
</tr>
    }

</table>

<a href="/Employee/AddEmp/" class="btn btn-outline-primary">Yeni Personel Ekle</a>



