
@{
    Layout = null;
}

<!DOCTYPE html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="~/WebLayout/default page/images/favicon.png" type="image/x-icon">

    <title>Net Elektronik</title>


    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/WebLayout/default page/css/bootstrap.css" />
    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- font awesome style -->
    <link href="~/WebLayout/default page/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/WebLayout/default page/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/WebLayout/default page/css/responsive.css" rel="stylesheet" />

</head>

<body>
    <header class="header_section" style="background-color:#000201">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container " >
                <a class="navbar-brand" href="/HomePage/Index/" >
                    <span style="color:whitesmoke !important">
                        <i class="fa fa-phone-square" aria-hidden="true"> </i>

                        Net Elektronik
                    </span>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="color:whitesmoke !important">
                    <span class=""> </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent" style="color:whitesmoke ">
                    <ul class="navbar-nav " style="color:whitesmoke ">
                        <li class="nav-item" style="color:whitesmoke ">
                            <a class="nav" href="/HomePage/Index/ " style="color:whitesmoke ">ANA SAYFA </a>
                        </li>
                        <li class="nav-item ml-5" >
                            <a class="nav" href="/HomePage/Products/" style="color:whitesmoke "> ÜRÜNLER </a>
                        </li>
                        <li class="nav-item ml-5">
                            <a class="nav" href="/HomePage/AboutUs/" style="color:whitesmoke "> HAKKIMIZDA </a>
                        </li>
                        <li class="nav-item ml-5">
                            <a class="nav" href="/HomePage/Contact" style="color:whitesmoke ">İLETİŞİM</a>
                        </li>
                    </ul>
                    <div class="user_option-box">
                        <a href="/Login/Index/">
                            <i class="fa fa-user" aria-hidden="true" style="color:whitesmoke "></i>
                        </a>

                    </div>
                </div>
            </nav>
        </div>
    </header> 
  
    <section class="about_section layout_padding" style="background-color:#000201">
        <div class="container  ">
            <div class="row">
                <div class="col-md-6 col-lg-5 ">
                    <div class="img-box">
                        <img src="https://unionstore.com/image/cache/catalog/Apple/I%20phone%2012/iphone-12-black--600x800.png" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-lg-7">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2 >
                                Net Elektronik
                            </h2>
                        </div>
                        <p style="text-indent:50px">
                            24 yıllık deneyimiyle yurtiçi telefon ve aksesuar piyasasının öncülerinden olan İzmir merkezli firmamız satışlarına devam ediyor.
                            Geniş ithalat ağımızla tedarik ettiğimiz akıllı telefon, tablet ve her türlü ceptelefonu aksesuarını en yeni, en kaliteli ve en hesaplı ürünlerle Türkiye piyasasına sunuyoruz.
                            Misyonumuz; her zaman ilkeli, dürüst ve müşteri odaklı kaliteli hizmet prensibiyle birlikte; yenilikçi ve öncü bir firma olarak müşterilerimize en güvenilir ürünleri sunmaktır.
                        </p>
                        <p style="text-indent:50px">
                            Aksesuarlarla ilgili teknik destek ve satış desteği için iletişime geçebilirsiniz.
                            Hemen hemen her türlü marka model (Apple  – Samsung – LG - Huawei – Xiaomi - Nokia vb)
                            cep telefonu aksesuarları ithalatçısı olan firmamız yurt içinde perakende satışıyla
                            hizmet vermektedir.
                        </p>

                        <p style="text-indent:50px">
                            Cep telefonu sektöründeki en son yenilikleri ve gelişmeleri sizin için
                            çok yakından takip eden firmamız size en iyi hizmeti verebilmek, en cazip
                            fiyatları sunabilmek adına sürekli gelişim prensibiyle taleplerinize en hızlı
                            şekilde cevap verebilecek teknik altyapısı, müşteri memnuniyeti, güven ve saygı
                            anlayışıyla sektörün lideri olma vizyonuyla hareket etmektedir.


                        </p>
                        <a href="/HomePage/Contact" style="background-color:#841574; border-color:#841574">
                            İletişime Geç
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer_section" style="background-color:#000201">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 ">
                    <div class="footer_detail">
                        <h4>
                            Hakkımızda
                        </h4>
                        <p>
                            1997'den beri iletişim konusunda güvenin tek adresi ...
                        </p>
                        <div class="footer_social">
                            <a href="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 footer-col">
                    <div class="footer_contact">
                        <h4>
                            İletişim
                        </h4>
                        <div class="contact_link_box">
                            <a href="">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>
                                    Konum
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>
                                    0(232) 250 11 21
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>
                                    yemenyildirim1@hotmail.com
                                </span>
                            </a>
                        </div>
                    </div>
                </div>


            </div>
            <div class="footer-info">
                <p>
                    &copy; <span id="displayYear"></span> Özhan Nuri YILDIRIM
                </p>
            </div>
        </div>
    </footer>

</body>
