
@{
    Layout = null;
}

<!DOCTYPE html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="~/WebLayout/default page/images/favicon.png" type="image/x-icon">

    <title>Net Elektronik</title>


    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/WebLayout/default page/css/bootstrap.css" />
    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- font awesome style -->
    <link href="~/WebLayout/default page/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/WebLayout/default page/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/WebLayout/default page/css/responsive.css" rel="stylesheet" />

</head>

<body class="sub_page">

    <header class="header_section">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="/HomePage/Index/">
                    <span>
                        <i class="fa fa-phone-square" aria-hidden="true"> </i>

                        Net Elektronik
                    </span>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/HomePage/Index/">Ana Sayfa <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/HomePage/Products/"> Ürünler </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/HomePage/AboutUs/"> hakkımızda </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/HomePage/Contact/">İLETİŞİM</a>
                        </li>
                    </ul>
                    <div class="user_option-box">
                        <a href="/Login/Index/">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </a>

                    </div>
                </div>
            </nav>
        </div>
    </header>


    <!-- shop section -->

    <section class="shop_section layout_padding" style="background-color:whitesmoke">
        <div class="container">
            <div class="heading_container heading_center" >
                <h2>
                    Vitrindeki Ürünler
                </h2>
            </div>
            <div class="row">
                <div class="col-md-6 ">
                    <div class="box">
                        <a href="">
                            <div class="img-box">
                                <img src="https://productimages.hepsiburada.net/s/64/375/110000005722889.jpg" alt="">
                            </div>
                            <div class="detail-box">
                                <h6>
                                    Redmi Note 10
                                </h6>
                                <h6>
                                    Fiyat:
                                    <span>
                                        2.999 TL
                                    </span>
                                </h6>
                            </div>
                            <div class="new" style="background-color:orangered">
                                <span>
                                    Xiaomi
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="box">
                        <a href="">
                            <div class="img-box">
                                <img src="https://cdn.akakce.com/xiaomi/xiaomi-redmi-note-9-128-gb-z.jpg" alt="">
                            </div>
                            <div class="detail-box">
                                <h6>
                                    Redmi Note 9
                                </h6>
                                <h6>
                                    Fiyat:
                                    <span>
                                        2.199 TL
                                    </span>
                                </h6>
                            </div>
                            <div class="new" style="background-color:orangered">
                                <span>
                                    Xiaomi
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="box">
                        <a href="">
                            <div class="img-box">
                                <img src="https://cdn.cimri.io/image/1000x1000/huaweiplitegbnmpakllceptelefonu_75210374.jpg" alt="">
                            </div>
                            <div class="detail-box">
                                <h6>
                                    P20 Lite
                                </h6>
                                <h6>
                                    Fiyat:
                                    <span>
                                        3.333 TL
                                    </span>
                                </h6>
                            </div>
                            <div class="new" style="background-color:dodgerblue">
                                <span >
                                    Huawei
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="box">
                        <a href="">
                            <div class="img-box">
                                <img src="https://www.kazimkulturvize.com/wp-content/uploads/revslider/main_slider/iphone-7-plus.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h6>
                                    iPhone 8 Plus
                                </h6>
                                <h6>
                                    Fiyat:
                                    <span>
                                        4500 TL
                                    </span>
                                </h6>
                            </div>
                            <div class="new" style="background-color:indianred">
                                <span >
                                    Apple
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="box">
                        <a href="">
                            <div class="img-box">
                                <img src="https://cdn.vatanbilgisayar.com/Upload/PRODUCT/samsung/thumb/galaxy-s20-plus-gorseli-106094_large.jpg" alt="">
                            </div>
                            <div class="detail-box">
                                <h6>
                                    S20 Dual Sim
                                </h6>
                                <h6>
                                    Fiyat:
                                    <span>
                                        5.965 TL
                                    </span>
                                </h6>
                            </div>
                            <div class="new" style="background-color:darkorchid">
                                <span>
                                    Samsung
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6  col-xl-3">
                    <div class="box">
                        <a href="">
                            <div class="img-box">
                                <img src="https://yorumbudur.com/content/icerik/big/apple-iphone-x-64-gb-5-8-inc-12-mp-akilli-cep-telefonu-uzay-grisi_yorumbudurcom.jpg" alt="">
                            </div>
                            <div class="detail-box">
                                <h6>
                                    iPhone X 
                                </h6>
                                <h6>
                                    Fiyat:
                                    <span>
                                        9.999 tl
                                    </span>
                                </h6>
                            </div>
                            <div class="new" style="background-color:indianred">
                                <span>
                                    Apple
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="box">
                        <a href="">
                            <div class="img-box">
                                <img src="https://cdn.vatanbilgisayar.com/Upload/PRODUCT/samsung/thumb/117735-ana_large.jpg" alt="">
                            </div>
                            <div class="detail-box">
                                <h6>
                                    S21 Ultra
                                </h6>
                                <h6>
                                    Fiyat:
                                    <span>
                                        15.999 TL
                                    </span>
                                </h6>
                            </div>
                            <div class="new" style="background-color:darkorchid">
                                <span>
                                    Samsung
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="btn-box">
                <a href="" style="background-color:#841574; border-color:#841574">
                    Diğer Ürünler
                </a>
            </div>
        </div>
    </section>


    <footer class="footer_section" style="background-color:#000201">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 ">
                    <div class="footer_detail">
                        <h4>
                            Hakkımızda
                        </h4>
                        <p>
                            1997'den beri iletişim konusunda güvenin tek adresi ...
                        </p>
                        <div class="footer_social">
                            <a href="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 footer-col">
                    <div class="footer_contact">
                        <h4>
                            İletişim
                        </h4>
                        <div class="contact_link_box">
                            <a href="">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>
                                    Konum
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>
                                    0(232) 250 11 21
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>
                                    yemenyildirim1@hotmail.com
                                </span>
                            </a>
                        </div>
                    </div>
                </div>


            </div>
            <div class="footer-info">
                <p>
                    &copy; <span id="displayYear"></span> Özhan Nuri YILDIRIM
                </p>
            </div>
        </div>
    </footer>



</body>
